@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}
@font-face {
  font-family: "MyCustomFont";
  src: url("/fonts/Dana/woff2/DanaFaNum-Medium.woff2") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap; /* برای بهبود performance */
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: "MyCustomFont", Arial, Helvetica, sans-serif;
}
